.main {
    background-color: palevioletred;
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 20px;
    margin: auto;
    justify-content: center;
}

.main * {
    width: 150px;
    height: 150px;
    margin: 0px 0px 0px 0px;
    background-color: white;
    border: none;
    border-radius: 10%;
    font-size: 140px;
    color: purple;

}

h1 {
    text-align: center;
    font-size: 50px;
    color: purple;
    font-style: italic;
    font-family: "Short Stack";
}

html {
    background-color: pink;
}

.short-stack-regular {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .reset {
    border: 10px solid palevioletred;
    font-size: 20px;
    font-family: "Short Stack";
    color: purple;
    text-align: center;
  }

  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

  }

  .resetbtn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .msg {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: "Short Stack";
    color: ghostwhite;
  }
  